:root{--primary-color: #2563eb}


body{font-family: 'EB Garamond', serif;}

  .first{background-color:var(--primary-color);
    display: block;
border-radius: 0.3rem;
color:white;
margin:1rem;
max-width: 7rem;
padding:0.2rem 0.2rem;
text-align: center;
text-decoration: none;}
.container{padding-left:1rem;}